*,::before,::after {

      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }

body {
   margin-left: 30px;
   font-size: 16px;
   font-weight: 400;
   background-color: hsl(30, 54%, 90%);
  }

main {
    width: 40%;
    background-color: hsl(0, 0%, 100%);
    margin: 10px auto;
    padding: 20px 20px;
    border-radius: 15px;
  } 

h1 {
  margin-top: 15px;
  font-size: 1.6em;
}

h1, h2 {
    font-family: "Young Serif";
  }

h2 {
    margin-left:10px;
  }

p, li, caption, tr {
    font-family: Outfit;
  }

div h2, table tr td:nth-of-type(2), ol li::marker, ul li::marker  {
    color: hsl(14, 45%, 36%);
  }

ol li::marker {
    font-weight: bold;
  }
  
.preparation, .ingredients, .instructions, .nutrition {
    margin-top: 30px;
  }

.time{
    color: hsl(332, 51%, 32%);
    font-weight: 700;
    font-size: 18px;
    margin-left: 24px;
  }

table {
    width: 100%;    
    border-collapse: collapse;
}

/* <table border=1 frame=void rules=rows> */

table tr td:nth-of-type(2){
  font-weight: bold;
}

tr {  
position: relative;
left: 30px;
top: 10px;
border: 0.1px solid hsl(30, 18%, 87%);
border-width: 1px 0;
}
/* border: 0.1px solid hsl(30, 18%, 87%); */

td {
padding: 10px;
padding-bottom: 20px;
/* background-color: green; */
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

caption {
    text-align: left;
    margin-top: 18px;
    margin-left: 9px;
}

img {
    width: 100%;  
    border-radius: 15px;
}

ul, ol{
    margin-left: 50px;
    margin-top: 10px;
}

.preparation li, .ingredients li {
    line-height: 2rem;
}

.steps, .time_total, .time_prep, .time_cooking {
    font-weight: bold;
}



.line {
  margin-top: 30px;
  border: 0.1px solid hsl(30, 18%, 87%);
}

.instructions li {
  margin-top: 10px;
  line-height: 24px;
}

.ingredients li, .instructions li {
  margin-left: -17px;
}

@media screen and (max-width: 1082px){
    body {
      background-color: green;
      margin: auto;
    }

    h1 {
      font-size: 1.5em;
    }
  }

@media screen and (max-width: 818px){
    body {
      background-color: purple;
      margin: auto;
    }

    h1 {
      font-size: 1em;
    }

    h2 {
      font-size: 0.9em;
    }

    .time {
      font-size: 1em;
      
    }

    .preparation {
      margin-left: -14px;
    }

    td {
      position: relative;
      left: -25px;
      font-size: 0.75rem;
    }

    li {
    position: relative;
    left: -15px;
    }

    .instructions li p span {
 
      font-size: 0.8em;
    }
  }

  @media screen and (max-width: 500px){
    /* td {
      left: 10px;
      font-size: 0.5rem;
    } */

    
/* 
   img {
      margin-top: -20px;
      width: 193px;
      margin-left: -20px;
      border-radius: 0;
    } */
  }

  @media screen and (max-width: 375px) {
    body {
      background-color: pink;
    }
    main {
      padding: 10px;
    }

    h1 {
      font-size: 0.7em;
      margin-top: 5px;
    }

    p {
      font-size: 0.6rem;
      margin-top: 10px;
    }

    .time {
      font-size: 1em;
      margin-left: 16px;
      position: relative;
      top: -10px;
    }
.preparation {
  width: 145px;
  margin-left: -20px;
  /* background-color: green; */
}
    .preparation li {
      margin-top: -20px;
      line-height: 25px;     
    }

    .preparation ul li::marker, .ingredients ul li::marker {
      font-size: 0.7em;
    }

    .preparation li p{
      font-size: 0.6em;
    }

    .mins {      
      position: relative;
      top: -10px;      
    }

    .preparation ul li:nth-of-type(3) {
      margin-top: -30px;
    }

    .preparation ul li:nth-of-type(1)  {
      margin-bottom: -30px;
    }
    
    hr {
      margin-top: 10px;
    }

    h2 {
      position: relative;
      top: -15px;
      font-size: 0.8em;
      margin: auto;
      
    }

    .ingredients ul li, .instructions ol li{
      position: relative;
      top: -13px;
      line-height: 13px;
      
    }

    .instructions ol li {      
      line-height: 15px;
    }

    .instructions ol li::marker {
      font-size: 0.5em;
     color: green;
    }

    /* .instructions {
     
      width: 144px;
      margin-left: -20px;
    }

    .instructions h2 {
      margin-left: 21px;
    } */

    .instructions ol li p {
      font-size: 0.6em;
      font-family: Outfit;
      /* width: 110px; */
      /* background-color: green; */
    }

    .nutrition table {
      margin-left: -5px;
      position: relative;
      top: -25px;
      font-size: 0.6em;
    }
    
    td {
      margin-left: -5px;
      position: relative;
      top: -10px;
      font-size: 0.8em;
    }

    caption {
      font-size: 0.6em;
    } 

    img {
      margin-top: -20px;
      width: 144px;
      margin-left: -10px;
      border-radius: 0;  
    }
  }

